*{
    margin:0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
	background-image:linear-gradient(rgba(0,0,0,0.2),rgba(95, 214, 111, 0),rgba(88, 113, 165, 0.3)), url(../submit.jpeg);
}

header
{
   
    height: 100%;
    background-size:cover;
    background-position: center;
    margin-top: 0vw;
    opacity: 0.9;

}


header .main
{
    margin-top: 0vw;
    padding-left: 1.8vw;
}

header .main .logo img
{
    float: left;
    width: 13.5vw;
    height: 3.75vw;
    border: 0.15vw rgb(59, 9, 139);
    margin-top: 3.75vw;
    
    border-radius: 5% 0% 20% 0%;
    border-style: hidden dotted double solid;
 
 }


header .main ul{

    float: right;
    list-style-type: none;
    margin-top: 5.625vw;
}
header .main ul li
{
  display: inline-block;  
}

header .main ul li a{
    text-decoration: none;
    color: #fff;
    padding: 0.45vw 1.5vw;
    border: 1px double transparent;
    border-radius: 10% 0% 10% 0%;
    font-size: 1.5vw;
    transition: 1s ease;
}
header .main ul li a:hover
{
    background-color: rgba(0, 0, 0, 0.5);
    color:rgba(210, 219, 219, 0.8);
    font-size:2.25vw;
    border-style: groove hidden groove hidden;
    border-color: rgba(231, 235, 26, 0.8);
    border-radius: 10% 0% 10% 0%;
}
.thank
{
	
	
	position:"fixed";
	width: 45vw;
  
	float: right;
    background-size:cover;
    background-position: center;
    height: 50vh;
    margin-top: 10%;
    margin-right: 30%;
    background-image:linear-gradient(rgba(0,0,0,.5),rgba(95, 214, 111, 0.5),rgba(88, 113, 165, 0.1)), url('');
    box-shadow: rgba(red, green, blue, 0.7);
    opacity:;
	border-radius: 5% 0% 20% 0%;
    border-style: hidden dotted double solid;
	padding-left:1vw;
	font-size:1.5vw;
	
}
.thank span
{
	font-size: 6vw;
	background:none;
	text-align:center;
	display: inline-block;
	padding-top:5vw;
	padding-left:7vw
	
}