*{
    margin:0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
header
{
    background-image:linear-gradient(rgba(255, 255, 255, 0.4),rgba(47, 80, 82, 0.2),rgba(168, 230, 144, 0.5)), url(../Share2.jpg);
    height: 100vh;
    background-size:cover;
    background-position: center;
    margin-top: 0vw;

}
header .list{
    
    position: fixed;
    padding-left: 45%;
}



header .list ul{
   
    padding-top:8vw ;
    /*display: flex;
    position: relative;*/
    
}
header .list ul li{
   
    list-style: none;
    margin:3.25vw 2.25vw;
    /*transition: 0.5%;*/
    width: 4.5vw;
    height:4.5vw;
    transform:rotate(0deg) skew(0deg);
    background: #ddd;

}
header .list ul li span{
   
    position: absolute;
    transition: 0.5s;
    background: #000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex !important;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 2.25vw !important;
}
header .list ul li:hover span:nth-child(5)
{
    transform: translate(3vw,-3vw);
    opacity: 1;
}
header .list ul li:hover span:nth-child(4)
{
    transform: translate(2.25vw,-2.25vw);
    opacity: .8;
}
header .list ul li:hover span:nth-child(3)
{
    transform: translate(1.5vw,-1.5vw);
    opacity: .6;
}
header .list ul li:hover span:nth-child(2)
{
    transform: translate(0.75vw,-0.75vw);
    opacity: .4;
}
header .list ul li:hover span:nth-child(1)
{
    transform: translate(0vw,-0vw);
    opacity: .2;
}
header .list ul li:nth-child(1) span
{
    background: #3b5999;
}
header .list ul li:nth-child(2) span
{
    background: #0077b5;
}
header .list ul li:nth-child(3) span
{
    background: #cc0a2e;
}
header .list ul li:nth-child(4) span
{
    background: #55acee;
}
header .list ul li :hover span
{
    box-shadow:-0.075vw 0.075vw 0.075vw rgba()0,0,0,.1;
}

header .main
{
    margin-top: 0vw;
    padding-left: 1.8vw;
}

header .main .logo img
{
    float: left;
    width: 13.5vw;
    height: 3.75vw;
    border: 0.15vw rgb(59, 9, 139);
    margin-top: 3.75vw;
    
    border-radius: 5% 0% 20% 0%;
    border-style: hidden dotted double solid;
 
 }

