*{
    margin:0;
    padding: 0;
 
}
header
{
    background-image:linear-gradient(rgba(0, 0, 0, 0.76),rgba(95, 214, 111, 0.3),rgba(0,0,0,.5),rgba(202, 60, 17, 0.781),rgba(88, 3, 165, 0.4),rgba(88, 165, 88, 0.8),rgba(105, 6, 6, 0.5),rgba(202, 216, 12, 0.582),rgba(165, 88, 135, 0.8)), url();
    height: 100%;
    background-size:100%;
    background-position: center;
    margin-top: 0px;
    background-repeat: round;
    

}
.Header{
    position:fixed;
    width: 100%;
    height: 9.75vw;
    border-bottom: inset;
    border-color:rgba(black, black, blue, 0.7);
    background-image:linear-gradient(to left,rgb(250, 65, 9),rgb(75, 156, 93),rgb(0, 0, 0));
    

}
header ul{
  
    list-style-type: none;
    margin-top: 5.625vw;
    margin-left: 56vw;
    
}
header ul li
{
  display: inline-block;  
}

header ul li a{
    text-decoration: none;
    color: #fff;
    padding: 0.45vw 1.2vw;
    border: 1px dotted;
    border-radius: 10% 0% 10% 0%;
    font-size: 1.5vw;
    transition: 1s ease;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
header ul li a:hover
{
    background-color: rgba(0, 0, 0, 0.5);
    color:rgba(210, 219, 219, 0.8);
    font-size:2.25vw;
    border-style: groove hidden groove hidden;
    border-color: rgba(231, 235, 26, 0.8);
    border-radius: 10% 0% 10% 0%;
}
header ul li.active a{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    
}


header .logo img
{
    float: left;
    width: 13.5vw;
    height: 3.75vw;
    border: 0.15vw rgb(59, 9, 139);
    margin-top: 3.75vw;
    margin-left: 2.75vw;
    border-radius: 5% 0% 20% 0%;
    border-style: hidden dotted double solid;
 
 }

 #myBtn
{
    
    
    background-image:linear-gradient(rgba(224, 39, 39, 0.2),rgb(233, 220, 218),rgba(20, 26, 39, 0.747));
    height: 5.25vw;
    width: 100%;
    font-size: 3vw;
   
    border-top: double green;
  
    border-width:0.225vw;
    font-family: fantasy;
    text-shadow: 0.15vwpx 0.15vw red;
    color: white;
    transition: ease 0.5s;
   
    
}
#myBtn:hover{
    font-size: 45px;
    border: none;
    background-image:linear-gradient(to left,rgba(0, 0, 0, 0.623),rgb(74, 59, 128),rgba(39, 20, 20, 0.788));
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
