*
{
    font-family: cursive;
    margin:0;
    padding: 0;
}
section
{
    background-image:linear-gradient(rgba(223, 79, 35, 0.5),rgba(26, 48, 95, 0.5),rgba(8, 10, 15, 0.8)), url(../baby_chef.jpg);
    height: 100%;
    background-size:cover;
    background-position: center;
    margin-top: 0vw;

}

body
{
    box-sizing: border-box;
    
    
    height: 100%;
    background-size:cover;
    background-position: center;
    margin-top: 0px;
    position: fixed;
  
 
  
  width: 100%;
  padding: 0px;
 
}
body .menubar
{
    float: right;
    
    
}

body .menubar ul{
    float: right;
    list-style-type: none;
    margin-top: 0.75vw;
    
}
body .menubar ul li
{
    display: inline;
    padding-right: 0.675vw ;
    
  
}

body .menubar ul li a
{
    cursor: pointer;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    
    color: rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;
   
    
    font-size: 1.5vw;
    padding-left: 0.15vw;
    padding-right: 0.15vw;
    transition: 0.8s ease;
    text-align: center;
    opacity: 0.3;

    border: 1px double transparent;
    border-radius: 10% 0% 10% 0%;
    
}
body .menubar ul li a:hover
{
    background-color: rgba(0, 0, 0, 0.9);
    color:rgba(255, 255, 255, 1);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-style: groove hidden double hidden;
    border-color: rgba(255, 255, 255, 0.856);
    border-radius: 10% 0% 10% 0%;
    opacity: 1;
    border-width: 0.525vw;
    
    
    
}

section .card
{
    float: right;
    background-size:cover;
    background-position: center;
    height: 50vh;
    margin-top: 10%;
    margin-right: 5%;
    background-image:linear-gradient(rgba(0,0,0,.5),rgba(95, 214, 111, 0.5),rgba(88, 113, 165, 0.1)), url('');
    box-shadow: rgba(red, green, blue, 0.7);
    opacity:;
}
section .card .head
{
background-color: rgb(92, 128, 107);
height: 2.85vw;
  width: 12.75vw;
  padding-top: 0.225vw;
  border-radius: 0.375vw 0.525vw 0px 0px;
  border-style: inset groove hidden hidden;
  display: inline-block;  
}

section .card .head .hd
{
    color: white;
    padding-left: 0.225vw;
}

section .card .form
{
    height: 14.25vw;
      width: auto;
     
      border-radius: 0.3vw;
      background-image:linear-gradient(rgba(81, 163, 88, 0.1),rgba(233, 73, 10, 0.1),rgba(88, 165, 88, 0.1)),url();
      opacity: 90%; 
      padding-left: 0.375vw;
      padding-top: 0.375vw;
      box-shadow: 0px 0.375vw 1.125vw 0px rgba(7, 6, 6, .8);
      opacity: 0.5;
      background-image: url('../cardpic1.jpg');
     
          
}
section .card .form:hover
{
    height: 14.25vw;
      width: auto;
     
      border-radius: 0.3vw;
      background-image:linear-gradient(rgba(0,0,0,.1),rgba(233, 73, 10, 0.1),rgba(88, 165, 88, 0.1));
      opacity: 90%; 
      padding-left: 0.375vw;
      padding-top: 0.375vw;
      box-shadow: 0px 0.375vw 1.125vw 0px rgba(7, 6, 6, .8);
}
section .card .form .new
{
    margin-top: 0.75vw;
    font-size: 1.05vw;
    float:right;
    color: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
section .card .form .new span
{
    font-size: 130%;
}
section .card .form .new a{
    text-decoration: none;
    font-size: 1.5vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
section .card .form .new a:hover{
    
    font-size: 1.8vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



section .card .form .form_card
{
    margin-left: 0.6vw;
    margin-right: 1.2vw;
}
section .card .form .form_card .login_card
{
    color: rgba(9,87,19,0.8);
}
section .card .form .form_card .login_card label{
    float: right;
}
section .card .form .form_card .login_card  .forgot
{
    float: left;
}
.smt{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    color: green;
    background-color:rgba(223, 195, 73, 0.24);
    height: 3vw;
    font-size: 1.5vw;
    position: center;
    padding:0px 10.5vw 0.75vw 11.25vw;
}

.smt:hover{
    cursor: pointer;
    background-color: rgba(82, 23, 23, 0.192);
    color: white;
    font-style: italic;
    
}




.mail{
    padding: 0.6vw;
    display: block;
    border: none;
    border-bottom: 0.075vw solid #ccc;
    width: 100%;
}
input{
    cursor: pointer;
}